<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#M√©todos-de-pandas" data-toc-modified-id="M√©todos-de-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>M√©todos de pandas</a></span><ul class="toc-item"><li><span><a href="#M√©todos-para-explorar-nuestro-dataframe" data-toc-modified-id="M√©todos-para-explorar-nuestro-dataframe-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>M√©todos para explorar nuestro <em>dataframe</em></a></span></li><li><span><a href="#M√©todos-para-modificar-algunas-caracter√≠sticas" data-toc-modified-id="M√©todos-para-modificar-algunas-caracter√≠sticas-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>M√©todos para modificar algunas caracter√≠sticas</a></span></li></ul></li><li><span><a href="#Reasignaci√≥n-columnas-df[‚Äòx‚Äô]-=-df[‚Äòx‚Äô]" data-toc-modified-id="Reasignaci√≥n-columnas-df[‚Äòx‚Äô]-=-df[‚Äòx‚Äô]-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Reasignaci√≥n columnas df[‚Äòx‚Äô] = df[‚Äòx‚Äô]</a></span></li></ul></div>

**Como siempre antes de empezar tenemos que hacer el import!!**

In [3]:
import pandas as pd

# M√©todos de pandas

En este apartado vamos a ver algunos de los principales que podemos aplicar a nuestros *dataframes*. El principal objetivo de estos m√©todos es hacer una exploraci√≥n inicial de nuestro dataframe, aunque algunos de ellos nos servir√°n para hacer algunos cambios en nuestro dataframe, como por ejemplo cambiar el nombre de las columnas o reemplazar ciertos caracteres. Algunos de los m√©todos son: 

- M√©todos para exploraci√≥n b√°sica del *dataframe*: 

    - `.head()`

    - `.tail()`

    - `.sample()`

    - `.columns`

    - `.shape`

    - `.describe()`

    - `.info()`

    - `.unique`

    - `.value_counts()`
    
    - `.isnull()`
    
    - `.isna()`
    
    - `.corr()`



- M√©todos para modificar algunas caracter√≠sticas b√°sicas de nuestro *dataframe*: 

    - `.set_index()`
    - `.reset_index()`
    - `.rename()`
    - `.drop()`
    - `.cut()`
    - `.replace()`

üìåAnte de empezar vamos a cargar un dataset para poder trabajar. En Python tenemos una serie de librerias que nos van a proveer de datasets para que nosotros podamos trabajar. En este caso usaremos la librer√≠a `PyDataset`

- Lo primero que tenemos que hacer es instalarla desde la terminal
```
pip install pydataset
```
o 

```
pip3 install pydataset
```

- Una vez instalado lo importamos en nuestro jupyter: 

```python
from pydataset import data
```

In [4]:
from pydataset import data

In [5]:
# para saber que datasets tenemos 
dfs = data()
dfs.head()

      dataset_id                                        title
0  AirPassengers  Monthly Airline Passenger Numbers 1949-1960
1        BJsales            Sales Data with Leading Indicator
2            BOD                    Biochemical Oxygen Demand
3   Formaldehyde                Determination of Formaldehyde
4   HairEyeColor    Hair and Eye Color of Statistics Students

Si nos fijamos tenemos 757 datasets, donde tenemos informaci√≥n sobre su t√≠tulo y un `id` el cual usaremos para cargar ese dataset. En este jupyter usaremos un dataset con informaci√≥n sobre plantas petrol√≠feras

In [6]:
# cargamos el dataframe con el que queremos trabajar

df = data('rock')

In [7]:
df.head()
df.describe

<bound method NDFrame.describe of      area      peri     shape    perm
1    4990  2791.900  0.090330     6.3
2    7002  3892.600  0.148622     6.3
3    7558  3930.660  0.183312     6.3
4    7352  3869.320  0.117063     6.3
5    7943  3948.540  0.122417    17.1
6    7979  4010.150  0.167045    17.1
7    9333  4345.750  0.189651    17.1
8    8209  4344.750  0.164127    17.1
9    8393  3682.040  0.203654   119.0
10   6425  3098.650  0.162394   119.0
11   9364  4480.050  0.150944   119.0
12   8624  3986.240  0.148141   119.0
13  10651  4036.540  0.228595    82.4
14   8868  3518.040  0.231623    82.4
15   9417  3999.370  0.172567    82.4
16   8874  3629.070  0.153481    82.4
17  10962  4608.660  0.204314    58.6
18  10743  4787.620  0.262727    58.6
19  11878  4864.220  0.200071    58.6
20   9867  4479.410  0.144810    58.6
21   7838  3428.740  0.113852   142.0
22  11876  4353.140  0.291029   142.0
23  12212  4697.650  0.240077   142.0
24   8233  3518.440  0.161865   142.0
25   6360  1977.390  0.280887   740.0
26   4193  1379.350  0.179455   740.0
27   7416  1916.240  0.191802   740.0
28   5246  1585.420  0.133083   740.0
29   6509  1851.210  0.225214   890.0
30   4895  1239.660  0.341273   890.0
31   6775  1728.140  0.311646   890.0
32   7894  1461.060  0.276016   890.0
33   5980  1426.760  0.197653   950.0
34   5318   990.388  0.326635   950.0
35   7392  1350.760  0.154192   950.0
36   7894  1461.060  0.276016   950.0
37   3469  1376.700  0.176969   100.0
38   1468   476.322  0.438712   100.0
39   3524  1189.460  0.163586   100.0
40   5267  1644.960  0.253832   100.0
41   5048   941.543  0.328641  1300.0
42   1016   308.642  0.230081  1300.0
43   5605  1145.690  0.464125  1300.0
44   8793  2280.490  0.420477  1300.0
45   3475  1174.110  0.200744   580.0
46   1651   597.808  0.262651   580.0
47   5514  1455.880  0.182453   580.0
48   9718  1485.580  0.200447   580.0>

## M√©todos para explorar nuestro *dataframe*

- `head()`

Nos permite ver las primeras lineas de nuestro *dataframe*. Por defecto, nos devolver√° las 5 primeras lineas.

In [8]:
df.head()

   area     peri     shape  perm
1  4990  2791.90  0.090330   6.3
2  7002  3892.60  0.148622   6.3
3  7558  3930.66  0.183312   6.3
4  7352  3869.32  0.117063   6.3
5  7943  3948.54  0.122417  17.1

In [9]:
# en caso de que queramos m√°s filas solo tendremos que especificar el n√∫mero entre par√©ntesis

df.head(7)

   area     peri     shape  perm
1  4990  2791.90  0.090330   6.3
2  7002  3892.60  0.148622   6.3
3  7558  3930.66  0.183312   6.3
4  7352  3869.32  0.117063   6.3
5  7943  3948.54  0.122417  17.1
6  7979  4010.15  0.167045  17.1
7  9333  4345.75  0.189651  17.1

- `tail()` 

Nos permite ver las √∫ltimas filas de nuestro *dataframe*, por defecto 5. Pero al igual que en `head()`, podemos especificar el n√∫mero de filas que querremos ver.

In [10]:
df.tail()

    area      peri     shape    perm
44  8793  2280.490  0.420477  1300.0
45  3475  1174.110  0.200744   580.0
46  1651   597.808  0.262651   580.0
47  5514  1455.880  0.182453   580.0
48  9718  1485.580  0.200447   580.0

In [11]:
# si queremos ver las √∫ltimas 7 lineas 

df.tail(7)

    area      peri     shape    perm
42  1016   308.642  0.230081  1300.0
43  5605  1145.690  0.464125  1300.0
44  8793  2280.490  0.420477  1300.0
45  3475  1174.110  0.200744   580.0
46  1651   597.808  0.262651   580.0
47  5514  1455.880  0.182453   580.0
48  9718  1485.580  0.200447   580.0

- `sample()`

Nos muestra filas aleatorias de nuestro *dataframe*, por defecto nos devuelve solo una, pero podemos especificar el n√∫mero de filas que queremos ver.

In [12]:
# por defecto nos devuelve una

df.sample()

    area     peri    shape  perm
20  9867  4479.41  0.14481  58.6

In [13]:
# ¬øy si queremos ver 5? Lo especificamos entre par√©ntesis. 

df.sample(5)

     area      peri     shape    perm
1    4990  2791.900  0.090330     6.3
46   1651   597.808  0.262651   580.0
8    8209  4344.750  0.164127    17.1
22  11876  4353.140  0.291029   142.0
41   5048   941.543  0.328641  1300.0

- `shape`

Nos devuelve el n√∫mero de filas y columnas que tenemos en nuestro *dataframe*

In [14]:
# nuestro dataset tiene 48 filas y 4 columnas

df.shape

(48, 4)

- `dtypes`

Nos devuelve el tipo de datos que tenemos en cada una de nuestras columnas

In [15]:
# en este caso tenemos integers y floats

df.

SyntaxError: invalid syntax (<ipython-input-15-90807562dc8f>, line 3)

- `.columns`

Nos muestra el nombre de las columnas de nuestro *dataframe*

In [ ]:
df.columns

Index(['area', 'peri', 'shape', 'perm'], dtype='object')

- `describe()`

Nos devuelve un *dataframe* con un resumen de los principales estad√≠sticos (media, mediana, desviac√≥n est√°ndar etc.) de nuestras **columnas num√©ricas**

In [ ]:
df.describe()

               area         peri      shape         perm
count     48.000000    48.000000  48.000000    48.000000
mean    7187.729167  2682.211938   0.218110   415.450000
std     2683.848862  1431.661164   0.083496   437.818226
min     1016.000000   308.642000   0.090330     6.300000
25%     5305.250000  1414.907500   0.162262    76.450000
50%     7487.000000  2536.195000   0.198862   130.500000
75%     8869.500000  3989.522500   0.262670   777.500000
max    12212.000000  4864.220000   0.464125  1300.000000

- `info()` 

Nos devuelve un peque√±o resumen sobre: 

- El n√∫mero de columnas que tenemos


- Los nombres de las columnas


- El n√∫mero de valores no nulos


- El tipo de los datos de nuestras columnas

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 1 to 48
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    48 non-null     int64
 1   peri    48 non-null     float64
 2   shape   48 non-null     float64
 3   perm    48 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 1.9 KB

- `unique()`

En este caso tendremos que espec√≠ficar la columna sobre la que queremos trabajar. 

¬øC√≥mo hacemos esto en pandas? 

```python
# el nombre del dataframe seguido de corchetes con el nombre de la columna
df["nombre_columna"]

# esto es lo mismo que: 

df.nombre_columna
```

In [ ]:
# en la columna area tenemos los siguientes valores √∫nicos. 

df["area"].unique()

array([ 4990,  7002,  7558,  7352,  7943,  7979,  9333,  8209,  8393,
        6425,  9364,  8624, 10651,  8868,  9417,  8874, 10962, 10743,
       11878,  9867,  7838, 11876, 12212,  8233,  6360,  4193,  7416,
        5246,  6509,  4895,  6775,  7894,  5980,  5318,  7392,  3469,
        1468,  3524,  5267,  5048,  1016,  5605,  8793,  3475,  1651,
        5514,  9718])

In [ ]:
# ¬øy que valores √∫nicos tenemos en la columna perm?

df["perm"].unique()

array([   6.3,   17.1,  119. ,   82.4,   58.6,  142. ,  740. ,  890. ,
        950. ,  100. , 1300. ,  580. ])

- `value_counts()`

Devuelve una serie que contiene el recuento de valores √∫nicos.

El objeto resultante estar√° en orden descendente para que el primer elemento sea el m√°s frecuente. Excluye los valores NA por defecto.

De nuevo tendremos que especificar que columna es sobre la que queremos aplicar el m√©todo.

In [ ]:
# en este caso, para cada uno de nuestros valores √∫nicos tenemos 4 valores en nuestro dataframe

df["perm"].value_counts()

82.4      4
58.6      4
6.3       4
17.1      4
580.0     4
1300.0    4
100.0     4
950.0     4
890.0     4
740.0     4
142.0     4
119.0     4
Name: perm, dtype: int64

In [ ]:
df["peri"].value_counts()

1461.060    2
941.543     1
1851.210    1
4353.140    1
1376.700    1
3518.440    1
1379.350    1
3999.370    1
1916.240    1
1426.760    1
3930.660    1
3518.040    1
3869.320    1
990.388     1
4480.050    1
4787.620    1
4608.660    1
3428.740    1
1174.110    1
1977.390    1
4864.220    1
1644.960    1
1585.420    1
308.642     1
4345.750    1
4036.540    1
3629.070    1
3682.040    1
1145.690    1
597.808     1
1485.580    1
4697.650    1
2280.490    1
1189.460    1
4010.150    1
4344.750    1
476.322     1
1455.880    1
2791.900    1
3892.600    1
3986.240    1
4479.410    1
1728.140    1
1239.660    1
3948.540    1
1350.760    1
3098.650    1
Name: peri, dtype: int64

- `isnull()`

Nos devuelve un booleano con los valores que faltan en nuestro dataframe.

In [ ]:
df.isnull().head()

    area   peri  shape   perm
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False
5  False  False  False  False

Pero si nos fijamos esto es algo dif√≠cil de interpretar, ¬øc√≥mo solucionamos esto?

In [ ]:
# de esta forma nos devuelve el n√∫mero de valores nulos que tenemos por columnas. En este caso 0 por columna

df.isnull().sum()

area     0
peri     0
shape    0
perm     0
dtype: int64

- `isna()`

Hace lo mismo que el m√©todo anterior, nos devuelve si nuestros valores son nulos o no.

In [ ]:
df.isna().sum()

area     0
peri     0
shape    0
perm     0
dtype: int64

- `corr()`

Calcula la correlaci√≥n por pares de las columnas, excluyendo los valores NA/nulos. 

Aunque ya lo veremos m√°s adelante, la correlaci√≥n trata de establecer la relaci√≥n o dependencia que existe entre dos variables. Cuanto m√°s cerca del 1 este este valor, m√°s correlaciondas estar√°n las variables. El signo indica si esa correlaci√≥n es positiva o negativa. Es decir:

- Positiva: a mayor valor de una variable, mayor valor de la otra. 


- Negativa: a mayor valor de una variable, menos de la otra.

In [ ]:
df.corr()

           area      peri     shape      perm
area   1.000000  0.822506 -0.182161 -0.396637
peri   0.822506  1.000000 -0.433126 -0.738716
shape -0.182161 -0.433126  1.000000  0.556721
perm  -0.396637 -0.738716  0.556721  1.000000

## M√©todos para modificar algunas caracter√≠sticas

- `set_index()`

Establezca el √≠ndice del *dataframe* utilizando las columnas existentes.

Establezca el √≠ndice del DataFrame (etiquetas de fila) utilizando una o m√°s columnas. El √≠ndice puede sustituir al √≠ndice existente o ampliarlo.

La sintaxis que debemos seguir: 

```python
nuestrodataframe.set_index(["nombre_columna"], inplace = True)

# con el par√°metro `inplace` lo que hacemos es sobreescribir sobre el dataframe orginal. Es decir, los cambios se ejecutar√°n sobre nuestro dataframe sin necesidad de crear uno nuevo
```

In [ ]:

df.set_index(["area"], inplace = True)

In [ ]:
df.head()

         peri     shape  perm
area
4990  2791.90  0.090330   6.3
7002  3892.60  0.148622   6.3
7558  3930.66  0.183312   6.3
7352  3869.32  0.117063   6.3
7943  3948.54  0.122417  17.1

In [ ]:
# ‚ö†Ô∏è ojo! que cuando ponemos una columna como √≠ndice ya no formar√° parte de nuestra de columnas

df.columns

Index(['peri', 'shape', 'perm'], dtype='object')

üìå Si nos fijamos ahora la columna `area` aparece como el √≠ndice de nuestro dataframe.

- `reset_index()`

De la misma forma que podemos poner una columna como √≠ndice, podemos quitarla para que pase a formar parte de las columnas.

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.head()

   area     peri     shape  perm
0  4990  2791.90  0.090330   6.3
1  7002  3892.60  0.148622   6.3
2  7558  3930.66  0.183312   6.3
3  7352  3869.32  0.117063   6.3
4  7943  3948.54  0.122417  17.1

- `rename`

Nos va a permitir modificar el nombre de nuestras columnas. 

üìå Necesitaremos usar diccionarios para usar este m√©todo. La sintaxis que aplicaremos ser√°: 

```python
MiDataframe.rename(columns = {"nombre-antiguo": "nombre-nuevo"}, inplace = True)
```

En este caso tenemos los nombres de las columnas en ingles y vamos cambiarlas al espa√±ol:

In [ ]:
df.rename(columns = {"area": "area", "peri": "perimetro", "shape": "forma", "perm": "perm"}, inplace = True)

In [ ]:
# si ahora chequeamos los nombres de las columnas veremos que estos han cambiado. 

df.columns

Index(['area', 'perimetro', 'forma', 'perm'], dtype='object')

Si tenemos muchas columnas que cambiar puede resultar muy tedioso. Pero lo podemos optimizar! 

ü§î Recordais las *list comprehensions* podremos hacer los mismo pero creando diccionarios. Vamos a poner en may√∫sculas los nombres de las columnas.

In [ ]:
# lo primero que tendremos que hacer es un dict comprehension donde las keys
## ser√°n el nombre de la columnas antiguas y los values el nuevo nombre

columnas_nuevas = {col :  col.upper() for col in df.columns}

In [ ]:
# chequeamos si nuestro diccionario est√° bien

columnas_nuevas

{'area': 'AREA', 'perimetro': 'PERIMETRO', 'forma': 'FORMA', 'perm': 'PERM'}

In [ ]:
df.rename(columns = columnas_nuevas, inplace = True)

In [ ]:
# Bien üí™ ya tenemos todas nuestras columnas cambiadas!!

df.head()

   AREA  PERIMETRO     FORMA  PERM
0  4990    2791.90  0.090330   6.3
1  7002    3892.60  0.148622   6.3
2  7558    3930.66  0.183312   6.3
3  7352    3869.32  0.117063   6.3
4  7943    3948.54  0.122417  17.1

- `drop`

Elimina las etiquetas especificadas de las filas o columnas.

La sintaxis b√°sica que debemos seguir: 

```python
MiDataframe.drop(labels, axis)
```

Donde: 

- `labels`: Los elementos que queremos eliminar, que adem√°s deben ir en una lista. 


- `axis`: hace referencia al eje sobre el que queremos aplicar la eliminaci√≥n: 
    
    - axis = 1 COLUMNAS
    - axis = 0 FILAS

In [ ]:
# En este caso vamos a crear una dataframe nuevo para almacenar los cambios de eliminar filas o columnas. 
## Como lo haremos con columnas: queremos eliminar la columna "area" de las columnas

df_eliminar = df.drop(["AREA"], axis = 1)

In [ ]:
# si nos fijamos hemos eliminado la columna "area" de nuestro dataframe
df_eliminar.head()

   PERIMETRO     FORMA  PERM
0    2791.90  0.090330   6.3
1    3892.60  0.148622   6.3
2    3930.66  0.183312   6.3
3    3869.32  0.117063   6.3
4    3948.54  0.122417  17.1

In [ ]:
# podemos incluso eliminar 1 o m√°s columnas

df_eliminar2 = df.drop(["AREA", "FORMA"], axis = 1)
df_eliminar2.head()

   PERIMETRO  PERM
0    2791.90   6.3
1    3892.60   6.3
2    3930.66   6.3
3    3869.32   6.3
4    3948.54  17.1

In [ ]:
# ¬ø y c√≥mo lo har√≠amos para las filas? 
## En este caso las "etiquetas" ser√°n los valores de los √≠ndices de las filas

df_eliminar3 = df.drop([0,1], axis = 0)
df_eliminar3.head()

   AREA  PERIMETRO     FORMA  PERM
2  7558    3930.66  0.183312   6.3
3  7352    3869.32  0.117063   6.3
4  7943    3948.54  0.122417  17.1
5  7979    4010.15  0.167045  17.1
6  9333    4345.75  0.189651  17.1

In [ ]:
df.PERIMETRO.unique()

array([2791.9  , 3892.6  , 3930.66 , 3869.32 , 3948.54 , 4010.15 ,
       4345.75 , 4344.75 , 3682.04 , 3098.65 , 4480.05 , 3986.24 ,
       4036.54 , 3518.04 , 3999.37 , 3629.07 , 4608.66 , 4787.62 ,
       4864.22 , 4479.41 , 3428.74 , 4353.14 , 4697.65 , 3518.44 ,
       1977.39 , 1379.35 , 1916.24 , 1585.42 , 1851.21 , 1239.66 ,
       1728.14 , 1461.06 , 1426.76 ,  990.388, 1350.76 , 1376.7  ,
        476.322, 1189.46 , 1644.96 ,  941.543,  308.642, 1145.69 ,
       2280.49 , 1174.11 ,  597.808, 1455.88 , 1485.58 ])

- `cut()`

Se utiliza para separar los elementos de un *dataframe* en diferentes intervalos. La funci√≥n de corte se utiliza principalmente para realizar an√°lisis estad√≠sticos de datos escalares.  

Aunque tiene m√∫ltiples par√°metros, la principal sintaxis que debemos seguir es: 

```python
MiDataframe.cut(x, bins)
```
Donde: 

- `x`: es la columna sobre la que queremos aplicar los intervalos


- `bins`: son los intervalos nuevos que queremos definir


En este caso vamos a aplicar este m√©todo a la columna `perm`: 

- Primero vamos a ver cuales son sus valores √∫nicos para saber mejor como definir nuestros nuevos *bins*

```python
df.perm.unique()

# Output: 
array([   6.3,   17.1,  119. ,   82.4,   58.6,  142. ,  740. ,  890. ,
        950. ,  100. , 1300. ,  580. ])
```

- Una vez que tenemos los valores √∫nicos establecemos los nuevos *bins*. Este par√°metro lo tenemos que pasar como lista.

In [ ]:
df['bins'] = pd.cut(x=df['PERM'], bins=[0, 100, 200,300, 400,500, 600,
                                          700, 800, 1000, 1100, 1200, 1300])

NameError: name 'pd' is not defined

In [ ]:
# basicamente lo que hemos hecho ha sido crear una nueva columna donde tendremos ciertos intervalos. 

df.head()

   AREA  PERIMETRO     FORMA  PERM      bins
0  4990    2791.90  0.090330   6.3  (0, 100]
1  7002    3892.60  0.148622   6.3  (0, 100]
2  7558    3930.66  0.183312   6.3  (0, 100]
3  7352    3869.32  0.117063   6.3  (0, 100]
4  7943    3948.54  0.122417  17.1  (0, 100]

- `replace()`

Reemplaza los valores especificados por otro valor que nosotros indiquemos.

Los valores del *dataframe* se sustituyen por otros valores de forma din√°mica.

üìå Esto difiere de la actualizaci√≥n con `.loc` o `.iloc`, que requieren que se especifique una ubicaci√≥n para actualizar con alg√∫n valor.

La sintaxis en este caso: 

```python
MiDataframe.replace(to_replace, value, inplace)
```
Donde:

- `to_replace`: es el valor que queremos reemplazar


- `value`: el valor nuevo que queremos incluir


- `inplace`: para que los cambios se ejecuten sobre el *dataframe* orginal.

En este caso vamos a querer reemplazar los valores `4990` por `area_nueva`

In [ ]:
df.replace(to_replace =4990,
                 value ="AREA_NUEVA", inplace = True)

In [ ]:
# si nos fijamos donde antes pon√≠a "4990" ahora pone "area_nueva". Este cambio se aplicar√≠a a todo el dataframe
df.head()

         AREA  PERIMETRO     FORMA  PERM      bins
0  AREA_NUEVA    2791.90  0.090330   6.3  (0, 100]
1        7002    3892.60  0.148622   6.3  (0, 100]
2        7558    3930.66  0.183312   6.3  (0, 100]
3        7352    3869.32  0.117063   6.3  (0, 100]
4        7943    3948.54  0.122417  17.1  (0, 100]

In [ ]:
# pero tambi√©n lo podemos aplicar a una columna espec√≠fica: 

df["PERM"].replace(to_replace =6.3,
                 value ="error", inplace = True)

In [ ]:
# aqu√≠ tenemos nuestros "error" en los valores espec√≠ficados. 

df.head()

         AREA  PERIMETRO     FORMA   PERM      bins
0  AREA_NUEVA    2791.90  0.090330  error  (0, 100]
1        7002    3892.60  0.148622  error  (0, 100]
2        7558    3930.66  0.183312  error  (0, 100]
3        7352    3869.32  0.117063  error  (0, 100]
4        7943    3948.54  0.122417   17.1  (0, 100]

# Reasignaci√≥n columnas df[‚Äòx‚Äô] = df[‚Äòx‚Äô]

Pandas nos va a permitir sobreescribir los valores de una columna. Esto puede ser el resultado de operaciones entre columnas o determinadas transformaciones que queramos hacerle a la columna. 

Veamos un ejemplo: 

El per√≠metro est√° en cent√≠metros y lo vamos a querer transformar a metros.

In [ ]:
df["PERIMETRO"] = df["PERIMETRO"] / 100

In [ ]:
# Si ahora volvemos a ver la columna, veremos que los valores han cambiado
# pero que no se ha creado ninguna nueva columna 

df.head()

         AREA  PERIMETRO     FORMA   PERM      bins
0  AREA_NUEVA    27.9190  0.090330  error  (0, 100]
1        7002    38.9260  0.148622  error  (0, 100]
2        7558    39.3066  0.183312  error  (0, 100]
3        7352    38.6932  0.117063  error  (0, 100]
4        7943    39.4854  0.122417   17.1  (0, 100]

**EJERCICIOS** 

1Ô∏è‚É£ Usa la librer√≠a `PyDataset` para descargarte un *dataframe*. En este caso puedes elegir el que m√°s te guste! 

2Ô∏è‚É£ Haz una exploraci√≥n del *dataframe*:


    - Muestra las primeras 5 filas


    - ¬øCu√°ntas filas y columnas hay en el *dataframe*?
    
    
    - ¬øCu√°ntos nulos hay?
    
    
    - ¬øCu√°les son los principales est√°disticos de nuestras columnas num√©ricas?
    
    - ¬øQu√© correlaci√≥n existe entre nuestras columnas? 
        
        **BONUS** ¬øPodr√≠as hacer una peque√±a interpretaci√≥n de los resultados que nos sale de la correlaci√≥n?
    
    
    - Cambia el nombre de las columnas. Dependiendo del *dataframe* haremos unos cambios u otros. Algunos cambios que podemos hacer son:
    
        - Poner los nombres todo en min√∫sculas o may√∫sculas
        
        - Eliminar los espacios en los nombres
        
3Ô∏è‚É£ Guarda el *dataframe* con los cambios hechos en un archivo `csv`

In [ ]:
from pydataset import data
dfs = data
dfs.head()

AttributeError: 'function' object has no attribute 'head'

In [ ]:
# buscando info de la lista de datasets disponibles en pydataset
help(data)

Help on function data in module pydataset:

data(item=None, show_doc=False)
    loads a datasaet (from in-modules datasets) in a dataframe data structure.

    Args:
        item (str)      : name of the dataset to load.
        show_doc (bool) : to show the dataset's documentation.

    Examples:

    >>> iris = data('iris')


    >>> data('titanic', show_doc=True)
        : returns the dataset's documentation.

    >>> data()
        : like help(), returns a dataframe [Item, Title]
        for a list of the available datasets.

In [ ]:
df_iris = data('iris')
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [ ]:
# cu√°ntas filas y columnas tiene
df_iris.shape

(150, 5)

In [ ]:
# cu√°ntos nulos hay
df_iris.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

    
3Ô∏è‚É£ Guarda el *dataframe* con los cambios hechos en un archivo `csv`

In [ ]:
# principales estad√≠sticos de las columnas
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
from matplotlib import pyplot as plt


# correlaci√≥n entre columnas
# **BONUS** ¬øPodr√≠as hacer una peque√±a interpretaci√≥n de los resultados que nos sale de la correlaci√≥n?

# df_iris.corr()

# La correlaci√≥n se mide entre dos elementos y se expresa en un rango de 1 y -1. Estos valores miden el grado de relaci√≥n lineal. 
# Por ej, si dos valores tienden a aumentar o disminuir al mismo tiempo, tendr√°n un valor de correlaci√≥n  cercanos al 1 o al -1. 
# Sin embargo, si el valor es 0 indica que no hay correlaci√≥n lineal.

matriz_corr = df_iris.corr()
matriz_corr.style.background_gradient (cmap = 'PuOr')

In [ ]:
# - Cambia el nombre de las columnas. Dependiendo del *dataframe* haremos unos cambios u otros. Algunos cambios que podemos hacer son:

df_iris.rename(columns = {"Sepal.Length":"Sepal_Length", "Sepal.Width":"Sepal_Width", "Petal.Length":"Petal_Length", "Petal.Width":"Petal_Width" }, inplace=True)
df_iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [ ]:
# - Poner los nombres todo en min√∫sculas o may√∫sculas
df_iris.rename(columns = {"Sepal.Length":"Sepal_Length", "Sepal.Width":"Sepal_Width", "Petal.Length":"Petal_Length", "Petal.Width":"Petal_Width" }, inplace=True)

df_iris.head()

#no s√© c√≥mo poner en min√∫sculas todos los nombres

AttributeError: 'Index' object has no attribute 'lower'

In [ ]:
# - Eliminar los espacios en los nombres

In [ ]:
# 3Ô∏è‚É£ Guarda el *dataframe* con los cambios hechos en un archivo `csv`

df_iris_csv = df_iris.to_csv()
df_iris_csv

',Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Species\n1,5.1,3.5,1.4,0.2,setosa\n2,4.9,3.0,1.4,0.2,setosa\n3,4.7,3.2,1.3,0.2,setosa\n4,4.6,3.1,1.5,0.2,setosa\n5,5.0,3.6,1.4,0.2,setosa\n6,5.4,3.9,1.7,0.4,setosa\n7,4.6,3.4,1.4,0.3,setosa\n8,5.0,3.4,1.5,0.2,setosa\n9,4.4,2.9,1.4,0.2,setosa\n10,4.9,3.1,1.5,0.1,setosa\n11,5.4,3.7,1.5,0.2,setosa\n12,4.8,3.4,1.6,0.2,setosa\n13,4.8,3.0,1.4,0.1,setosa\n14,4.3,3.0,1.1,0.1,setosa\n15,5.8,4.0,1.2,0.2,setosa\n16,5.7,4.4,1.5,0.4,setosa\n17,5.4,3.9,1.3,0.4,setosa\n18,5.1,3.5,1.4,0.3,setosa\n19,5.7,3.8,1.7,0.3,setosa\n20,5.1,3.8,1.5,0.3,setosa\n21,5.4,3.4,1.7,0.2,setosa\n22,5.1,3.7,1.5,0.4,setosa\n23,4.6,3.6,1.0,0.2,setosa\n24,5.1,3.3,1.7,0.5,setosa\n25,4.8,3.4,1.9,0.2,setosa\n26,5.0,3.0,1.6,0.2,setosa\n27,5.0,3.4,1.6,0.4,setosa\n28,5.2,3.5,1.5,0.2,setosa\n29,5.2,3.4,1.4,0.2,setosa\n30,4.7,3.2,1.6,0.2,setosa\n31,4.8,3.1,1.6,0.2,setosa\n32,5.4,3.4,1.5,0.4,setosa\n33,5.2,4.1,1.5,0.1,setosa\n34,5.5,4.2,1.4,0.2,setosa\n35,4.9,3.1,1.5,0.2,setosa\n36,5.0,3.2,1.2,0.2,setosa\n37,5.5,3.5,1.3,0.2,setosa\n38,4.9,3.6,1.4,0.1,setosa\n39,4.4,3.0,1.3,0.2,setosa\n40,5.1,3.4,1.5,0.2,setosa\n41,5.0,3.5,1.3,0.3,setosa\n42,4.5,2.3,1.3,0.3,setosa\n43,4.4,3.2,1.3,0.2,setosa\n44,5.0,3.5,1.6,0.6,setosa\n45,5.1,3.8,1.9,0.4,setosa\n46,4.8,3.0,1.4,0.3,setosa\n47,5.1,3.8,1.6,0.2,setosa\n48,4.6,3.2,1.4,0.2,setosa\n49,5.3,3.7,1.5,0.2,setosa\n50,5.0,3.3,1.4,0.2,setosa\n51,7.0,3.2,4.7,1.4,versicolor\n52,6.4,3.2,4.5,1.5,versicolor\n53,6.9,3.1,4.9,1.5,versicolor\n54,5.5,2.3,4.0,1.3,versicolor\n55,6.5,2.8,4.6,1.5,versicolor\n56,5.7,2.8,4.5,1.3,versicolor\n57,6.3,3.3,4.7,1.6,versicolor\n58,4.9,2.4,3.3,1.0,versicolor\n59,6.6,2.9,4.6,1.3,versicolor\n60,5.2,2.7,3.9,1.4,versicolor\n61,5.0,2.0,3.5,1.0,versicolor\n62,5.9,3.0,4.2,1.5,versicolor\n63,6.0,2.2,4.0,1.0,versicolor\n64,6.1,2.9,4.7,1.4,versicolor\n65,5.6,2.9,3.6,1.3,versicolor\n66,6.7,3.1,4.4,1.4,versicolor\n67,5.6,3.0,4.5,1.5,versicolor\n68,5.8,2.7,4.1,1.0,versicolor\n69,6.2,2.2,4.5,1.5,versicolor\n70,5.6,2.5,3.9,1.1,versicolor\n71,5.9,3.2,4.8,1.8,versicolor\n72,6.1,2.8,4.0,1.3,versicolor\n73,6.3,2.5,4.9,1.5,versicolor\n74,6.1,2.8,4.7,1.2,versicolor\n75,6.4,2.9,4.3,1.3,versicolor\n76,6.6,3.0,4.4,1.4,versicolor\n77,6.8,2.8,4.8,1.4,versicolor\n78,6.7,3.0,5.0,1.7,versicolor\n79,6.0,2.9,4.5,1.5,versicolor\n80,5.7,2.6,3.5,1.0,versicolor\n81,5.5,2.4,3.8,1.1,versicolor\n82,5.5,2.4,3.7,1.0,versicolor\n83,5.8,2.7,3.9,1.2,versicolor\n84,6.0,2.7,5.1,1.6,versicolor\n85,5.4,3.0,4.5,1.5,versicolor\n86,6.0,3.4,4.5,1.6,versicolor\n87,6.7,3.1,4.7,1.5,versicolor\n88,6.3,2.3,4.4,1.3,versicolor\n89,5.6,3.0,4.1,1.3,versicolor\n90,5.5,2.5,4.0,1.3,versicolor\n91,5.5,2.6,4.4,1.2,versicolor\n92,6.1,3.0,4.6,1.4,versicolor\n93,5.8,2.6,4.0,1.2,versicolor\n94,5.0,2.3,3.3,1.0,versicolor\n95,5.6,2.7,4.2,1.3,versicolor\n96,5.7,3.0,4.2,1.2,versicolor\n97,5.7,2.9,4.2,1.3,versicolor\n98,6.2,2.9,4.3,1.3,versicolor\n99,5.1,2.5,3.0,1.1,versicolor\n100,5.7,2.8,4.1,1.3,versicolor\n101,6.3,3.3,6.0,2.5,virginica\n102,5.8,2.7,5.1,1.9,virginica\n103,7.1,3.0,5.9,2.1,virginica\n104,6.3,2.9,5.6,1.8,virginica\n105,6.5,3.0,5.8,2.2,virginica\n106,7.6,3.0,6.6,2.1,virginica\n107,4.9,2.5,4.5,1.7,virginica\n108,7.3,2.9,6.3,1.8,virginica\n109,6.7,2.5,5.8,1.8,virginica\n110,7.2,3.6,6.1,2.5,virginica\n111,6.5,3.2,5.1,2.0,virginica\n112,6.4,2.7,5.3,1.9,virginica\n113,6.8,3.0,5.5,2.1,virginica\n114,5.7,2.5,5.0,2.0,virginica\n115,5.8,2.8,5.1,2.4,virginica\n116,6.4,3.2,5.3,2.3,virginica\n117,6.5,3.0,5.5,1.8,virginica\n118,7.7,3.8,6.7,2.2,virginica\n119,7.7,2.6,6.9,2.3,virginica\n120,6.0,2.2,5.0,1.5,virginica\n121,6.9,3.2,5.7,2.3,virginica\n122,5.6,2.8,4.9,2.0,virginica\n123,7.7,2.8,6.7,2.0,virginica\n124,6.3,2.7,4.9,1.8,virginica\n125,6.7,3.3,5.7,2.1,virginica\n126,7.2,3.2,6.0,1.8,virginica\n127,6.2,2.8,4.8,1.8,virginica\n128,6.1,3.0,4.9,1.8,virginica\n129,6.4,2.8,5.6,2.1,virginica\n130,7.2,3.0,5.8,1.6,virginica\n131,7.4,2.8,6.1,1.9,virginica\n132,7.9,3.8,6.4,2.0,virginica\n133,6.4,2.8,5.6,2.2,virginica\n134,6.3,2.8,5.1,1.5,virginica\n135,6.1,2.6,5.6,1.4,virginica\n136,7.7,3.0,6.1,2.3,virginica\n137,6.3,3.4,5.6,2.4,virginica\n138,6.4,3.1,5.5,1.8,virginica\n139,6.0,3.0,4.8,1.8,virginica\n140,6.9,3.1,5.4,2.1,virginica\n141,6.7,3.1,5.6,2.4,virginica\n142,6.9,3.1,5.1,2.3,virginica\n143,5.8,2.7,5.1,1.9,virginica\n144,6.8,3.2,5.9,2.3,virginica\n145,6.7,3.3,5.7,2.5,virginica\n146,6.7,3.0,5.2,2.3,virginica\n147,6.3,2.5,5.0,1.9,virginica\n148,6.5,3.0,5.2,2.0,virginica\n149,6.2,3.4,5.4,2.3,virginica\n150,5.9,3.0,5.1,1.8,virginica\n'